* {
    padding: 0;
    margin: 0;
}

.main {
    background-color: black;
    border-radius: 20px;
    width: 20%;
    margin:  5% auto;
    width: 300px;
    height: 500px;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 7px 7px 5px #4f4f4f;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.input0 {
    background-color: #ad7878;
    height: 20%;
}
input {
    background-color: black;
    color: #fff;
    bottom: 10px; 
}
.buttons {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}
.btns {
    width: 75%;
}
.btn_orn {
    background-color: chocolate;
}
.btn_gray {
    background-color: #4f4f4f;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.btn_blck {
    background-color: #1b1919;
    height: 80%;
}

.btn {
    
}
